## Investigate a Dataset - European Soccer Database

## Data Set
European Soccer Database

## Overview and Notes
This soccer database comes from Kaggle and is well suited for data analysis and machine learning.  
It contains data for soccer matches, players, and teams from several European countries from 2008 to 2016.  
This dataset is quite extensive, and we encourage you to read more about it here.  
The database is stored in a SQLite database. You can access database files using software like DB Browser.  
This dataset will help you get good practice with your SQL joins.  
Make sure to look at how the different tables relate to each other.  
Some column titles should be self-explanatory, and others you’ll have to look up on Kaggle.  

## Sources
https://docs.google.com/document/d/e/2PACX-1vTlVmknRRnfy_4eTrjw5hYGaiQim5ctr9naaRd4V9du2B5bxpd8FEH3KtDgp8qVekw7Cj1GLk1IXdZi/pub?embedded=True  
https://www.kaggle.com/hugomathien/soccer

## Example Questions
What teams improved the most over the time period?  
Which players had the most penalties?  
What team attributes lead to the most victories?

In [1]:
# Import data analysis modules
import numpy as np
import pandas as pd
import matplotlib as plt
import sqlite3

In [2]:
# Connect to the local sqlite database with the following tables: Country, League, Match, Player, Player_Attributes, Team, Team_Attributes
connection = sqlite3.connect('database.sqlite')

In [6]:
# Run a simple query, store and display results in a DataFrame
query = '''
select 
    * 
from
    Team 
limit 10;
'''

#Get a dataframe
df = pd.read_sql(query,connection)
print(df.columns)
df

Index([u'id', u'team_api_id', u'team_fifa_api_id', u'team_long_name',
       u'team_short_name'],
      dtype='object')

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB
5   6         8635             229.0     RSC Anderlecht             AND
6   7         9991             674.0           KAA Gent             GEN
7   8         9998            1747.0          RAEC Mons             MON
8   9         7947               NaN      FCV Dender EH             DEN
9  10         9985             232.0  Standard de Liège             STL