## Lesson 6 - NumPy and Pandas for 1D Data

## Load Data from CSVs

In [4]:
import pandas as pd

In [5]:
gdp_per_capita = pd.read_csv('gdp-per-capita.csv')

In [9]:
gdp_per_capita.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1313.722725,1381.040832,1454.022854,1525.723589,1594.495067,1681.613910,1804.419415,1857.352947,1915.424459,1965.707230
4,Algeria,1280.384828,1085.414612,855.947986,1128.41578,1170.323896,1215.015783,1127.614288,1200.558225,1291.863983,...,1871.921986,1971.512803,2043.135713,2115.186028,2124.957754,2155.485231,2173.787903,2192.703976,2231.980246,2255.225482

In [10]:
len(gdp_per_capita)

275

In [12]:
len(gdp_per_capita['Country'].unique())

275

In [14]:
gdp_per_capita.columns

Index([u'Country', u'1960', u'1961', u'1962', u'1963', u'1964', u'1965',
       u'1966', u'1967', u'1968', u'1969', u'1970', u'1971', u'1972', u'1973',
       u'1974', u'1975', u'1976', u'1977', u'1978', u'1979', u'1980', u'1981',
       u'1982', u'1983', u'1984', u'1985', u'1986', u'1987', u'1988', u'1989',
       u'1990', u'1991', u'1992', u'1993', u'1994', u'1995', u'1996', u'1997',
       u'1998', u'1999', u'2000', u'2001', u'2002', u'2003', u'2004', u'2005',
       u'2006', u'2007', u'2008', u'2009', u'2010', u'2011'],
      dtype='object')