## Lesson 6 - NumPy and Pandas for 1D Data

## Load Data from CSVs

In [4]:
import pandas as pd

In [5]:
gdp_per_capita = pd.read_csv('gdp-per-capita.csv')

In [9]:
gdp_per_capita.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1313.722725,1381.040832,1454.022854,1525.723589,1594.495067,1681.613910,1804.419415,1857.352947,1915.424459,1965.707230
4,Algeria,1280.384828,1085.414612,855.947986,1128.41578,1170.323896,1215.015783,1127.614288,1200.558225,1291.863983,...,1871.921986,1971.512803,2043.135713,2115.186028,2124.957754,2155.485231,2173.787903,2192.703976,2231.980246,2255.225482

In [10]:
len(gdp_per_capita)

275

In [12]:
len(gdp_per_capita['Country'].unique())

275

In [14]:
gdp_per_capita.columns

Index([u'Country', u'1960', u'1961', u'1962', u'1963', u'1964', u'1965',
       u'1966', u'1967', u'1968', u'1969', u'1970', u'1971', u'1972', u'1973',
       u'1974', u'1975', u'1976', u'1977', u'1978', u'1979', u'1980', u'1981',
       u'1982', u'1983', u'1984', u'1985', u'1986', u'1987', u'1988', u'1989',
       u'1990', u'1991', u'1992', u'1993', u'1994', u'1995', u'1996', u'1997',
       u'1998', u'1999', u'2000', u'2001', u'2002', u'2003', u'2004', u'2005',
       u'2006', u'2007', u'2008', u'2009', u'2010', u'2011'],
      dtype='object')

In [17]:
gdp_per_capita.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
count,96.000000,97.000000,97.000000,97.000000,97.000000,103.000000,105.000000,106.000000,107.000000,107.000000,...,195.000000,195.000000,194.000000,194.000000,193.000000,193.000000,191.000000,189.000000,182.000000,175.000000
mean,2862.692195,2936.271369,3033.697747,3127.397267,3297.171464,3479.098233,3561.800465,3643.836068,3827.447920,4014.630287,...,7983.084448,8113.092660,8335.349531,8545.104221,8898.582041,9219.106697,8999.106190,8463.079022,7699.995854,7603.241430
std,3966.169477,4078.453837,4209.541510,4322.069499,4603.806933,4686.086119,4885.065723,5088.097077,5226.637333,5462.190047,...,12730.751887,12804.769377,13171.168298,13440.153560,14003.742573,14664.833399,14702.224566,14079.334478,11280.297479,10906.851828
min,98.634845,77.662309,72.324927,77.867365,88.130052,100.137524,107.805084,99.080123,92.569121,105.288508,...,83.081859,85.282625,88.243053,92.367256,94.769735,97.910183,101.103851,101.169007,105.531738,109.809298
25%,348.092860,367.165347,347.301046,362.828560,371.591692,391.167669,420.366839,409.926541,427.755618,443.355777,...,606.407609,605.896769,629.447328,628.411890,640.762816,673.004691,686.624839,705.007574,676.924076,650.652354
50%,962.840433,963.113762,976.188701,1045.780232,1064.991250,1091.500026,1111.158861,1150.518306,1238.791051,1261.364518,...,2040.248192,2129.193396,2206.522493,2284.186698,2404.736431,2494.352654,2510.278480,2527.938377,2459.478865,2522.824763
75%,3475.484109,3744.356202,3961.399895,4071.375675,4238.361138,5029.630414,5114.437182,5257.801228,5612.126561,6066.936702,...,9537.855880,9415.266271,9414.557553,9655.998281,10264.674284,10714.744222,10447.748978,9294.355996,9019.537452,9077.125442
max,19588.612697,20009.625798,20410.612688,20153.284926,21842.810221,22334.443485,25091.732053,27876.079659,27925.907805,28350.643198,...,77348.898742,78229.939808,80255.753889,81827.956121,85942.671127,98397.089855,108111.212788,105147.437697,63036.360611,52056.017811

## NumPy Arrays

In [30]:
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

# Change False to True for each block of code to see what it does

print '\nAccessing elements:'
if True:
    print countries[0]
    print countries[3]

print '\nSlicing:'
if True:
    print countries[0:3]
    print countries[:3]
    print countries[17:]
    print countries[:]

print '\nElement types:'
if True:
    print countries.dtype
    print employment.dtype
    print np.array([0, 1, 2, 3]).dtype
    print np.array([1.0, 1.5, 2.0, 2.5]).dtype
    print np.array([True, False, True]).dtype
    print np.array(['AL', 'AK', 'AZ', 'AR', 'CA']).dtype

print '\nLooping:'
if True:
    for country in countries:
        print 'Examining country {}'.format(country)

    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        print 'Country {} has employment {}'.format(country,
                country_employment)

print '\nNumpy functions:'
if True:
    print employment.mean()
    print employment.std()
    print employment.max()
    print employment.sum()

def max_employment(countries, employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    '''
    max_country = countries[employment.argmax()]      # Replace this with your code
    max_value = employment.max()   # Replace this with your code

    return (max_country, max_value)

print '\nmax_employment(countries, employment):'
max_employment(countries, employment)

Accessing elements:
Afghanistan
Angola

Slicing:
['Afghanistan' 'Albania' 'Algeria']
['Afghanistan' 'Albania' 'Algeria']
['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']

Element types:
|S22
float64
int64
float64
bool
|S2

Looping:
Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina
Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076

Numpy functions:
58.6850000385
9.33826911369
75.69999695
1173.70000077

max_employment(countries, employment):

('Angola', 75.699996949999999)